### Kotlin ###
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/
src/main/kotlin/gameoflife/*.jar

### IntelliJ ###
.idea/
*.iws
*.iml
*.ipr

### Mac OS ###
.DS_Store
